<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Changer mot de passe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="changePwd(form)">
    <ion-item lines="full">
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input name="newPwd" ngModel type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"
        >Confirmation du nouveau mot de passe</ion-label
      >
      <ion-input
        name="confirmNewPwd"
        ngModel
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block"
          >Modifier</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
© 2021 Gestibank, Inc.
