<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="requestNewPwd(form)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" ngModel type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block"
          >confirmer</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
© 2021 Gestibank, Inc.
